---

ansible_ssh_user: "core"
ansible_python_interpreter: "PATH=/home/core/bin:$PATH python"

domain_name: "pingli.st"
#database_host_key: "{{ deploy_env }}-pinglist-rds"
#database_host: "{{ groups[database_host_key][0] }}"
database_host: "{{ deploy_env }}-rds.{{ domain_name }}"
aws_region: "us-west-2"

ios_link: "https://itunes.apple.com/us/app/pinglist/id1114451352?ls=1&mt=8"
contact_email: "risoknop@gmail.com"
