{
  "Database": {
    "Type": "postgres",
    "Host": "{{ database_host }}",
    "Port": 5432,
    "User": "pinglist",
    "Password": "{{ api_database_password }}",
    "DatabaseName": "pinglist",
    "MaxIdleConns": {{ database_max_idle_conns }},
    "MaxOpenConns": {{ database_max_open_conns }}
  },
  "Oauth": {
    "AccessTokenLifetime": 3600,
    "RefreshTokenLifetime": 1209600,
    "AuthCodeLifetime": 3600
  },
  "AWS": {
    "Region": "{{ aws_region }}",
    "AssetsBucket": "{{ aws_assets_bucket }}",
    "APNSPlatformApplicationARN": "{{ apns_platform_application_arn }}",
    "GCMPlatformApplicationARN": "{{ gcm_platform_application_arn }}"
  },
  "Facebook": {
    "AppID": "{{ facebook_app_id }}",
    "AppSecret": "{{ facebook_app_secret }}"
  },
  "Sendgrid": {
    "APIKey": "{{ sendgrid_api_key }}"
  },
  "Stripe": {
    "SecretKey": "{{ stripe_secret_key }}",
    "PublishableKey": "{{ stripe_publishable_key }}"
  },
  "Slack": {
    "Username": "{{ slack_username }}",
    "Emoji": "{{ slack_emoji }}"
  },
  "Web": {
    "AppScheme": "{{ app_scheme }}",
    "AppHost": "{{ app_host }}"
  },
  "Pinglist": {
    "PasswordResetLifetime": 604800,
    "ContactEmail": "{{ contact_email }}"
  },
  "IsDevelopment": {{ is_development | to_json }}
}
